# Ignore IDE files
.idea/
.vscode/

# Ignore build files
build/
cmake-build-debug/
cmake-build-release/

# Ignore dataset
data/
dataset/
dataset_new/
dataset_viewer/
dataset_render/

# Ignore backup files
_bak/

sources/

__pycache__